{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="text-center">
    <img src="/images/fred.svg" alt="Fred Logo" style="width: 80px; margin-bottom: 12px;" class="img-fluid">
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      {{ with .Params.eyebrow }}<p class="hero-eyebrow">{{ . }}</p>{{ end }}
      <h1>{{ .Params.headline | safeHTML }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <div class="my-3">
        <a class="btn btn-primary btn-cta rounded-pill btn-lg mx-1" href="/docs/getting-started.html" role="button">Get Started</a>
        <a class="btn btn-outline-secondary rounded-pill btn-lg mx-1" href="/docs/what-is-fred.html" role="button">What is Fred?</a>
        <a class="btn btn-outline-secondary rounded-pill btn-lg mx-1" href="/blog/" role="button">Blog</a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    {{ .Content }}
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Fred today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
