{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="text-center">
    <img src="/images/fred.svg" alt="Fred Logo" style="width: 100px;margin-bottom: 20px;" class="img-fluid">
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/getting-started/" role="button">Get Started</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">More than a Kubernetes Specialist</h2>
          <p>Fred is a more than a Kubernetes assistant.
            It automatically discovers and analyze your
            K8 applications to provide you with ready to use documentation and audit.
            Its interacts with you to complete its knowledge with your business use case.
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Full Python</h2>
          <p>Fred is 100% python, leveraging <a href="https://www.langchain.com/">langchain</a>
             and <a href="https://www.langchain.com/langgraph">langgraph</a> . It is designed to be easily extended.
             Instead of limiting what you can do, it simply makes you start from a clear and sound design to implement your own additional expert agent.</p>
            </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">A state-of-the art laboratory</h2>
          <p>Fred leverages langchain and langraph using state-of-the-art multi-agent patterns. No heavy or limiting framework in between.</p>
            It makes it a valuable starting point to explore multi-agent design, pros and cons. Join us to improve it.
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Simple to setup</h2>
          <p>You need a Kubernetes cluster access, and your llm provider token. Fred easily runs on a laptop.</p>
            Helm charts are provided should you want to deploy it on your cluster to offer a robust and shared
            assistant service.
          </p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
